	

	* {
		font-family: 'Inter', sans-serif;
	}

	:root {

	--primary-color-700 : #0DABDD;
	--primary-color-100: #EDFBFF;
	--neutral-600 : #696969;

	}

	.bg-clr-prim-100 {
		background-color: var(--primary-color-100);
	}